@import "tailwindcss";

@theme inline {
  --color-error-container: #93000a;
  --color-on-secondary: #351000;
  --color-on-background: #e5e2e1;
  --color-primary: #ff6b00;
  --color-background: #050505;
  --color-surface-container: #1a1a1a;
  --color-secondary-fixed-dim: #ff6b00;
  --color-secondary-container: #572000;
  --color-primary-container: #ff6b00;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-fixed: #351000;
  --color-tertiary-fixed: #d0e4ff;
  --color-on-tertiary-fixed: #001d35;
  --color-tertiary-container: #00497b;
  --color-surface-variant: #252525;
  --color-on-surface: #e5e2e1;
  --color-secondary-fixed: #ff6b00;
  --color-on-tertiary-container: #d0e4ff;
  --color-on-error-container: #ffdad6;
  --color-on-primary-fixed-variant: #7a3000;
  --color-outline: #5a4136;
  --color-surface-tint: #ff6b00;
  --color-on-secondary-container: #ffdbcc;
  --color-inverse-surface: #e5e2e1;
  --color-primary-fixed: #ffdbcc;
  --color-tertiary-fixed-dim: #9ccaff;
  --color-surface-container-highest: #303030;
  --color-on-primary-fixed: #351000;
  --color-surface-dim: #050505;
  --color-on-error: #690005;
  --color-surface-container-lowest: #050505;
  --color-on-surface-variant: #d3c4be;
  --color-on-secondary-fixed-variant: #783207;
  --color-on-tertiary-fixed-variant: #00497b;
  --color-inverse-on-surface: #313030;
  --color-outline-variant: #4a3a33;
  --color-surface-container-high: #252525;
  --color-inverse-primary: #ff6b00;
  --color-tertiary: #38bdf8;
  --color-error: #ffb4ab;
  --color-secondary: #ff6b00;
  --color-on-primary: #ffffff;
  --color-primary-fixed-dim: #ff6b00;
  --color-surface-container-low: #131313;
  --color-surface-bright: #303030;
  --color-surface: #050505;
  --color-on-primary-container: #ffffff;

  /* Force standard orange set to the exact same neon version */
  --color-orange-400: #ff6b00;
  --color-orange-500: #ff6b00;
  --color-orange-600: #ff6b00;
  --color-orange-700: #ff6b00;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
  
  --radius-DEFAULT: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-full: 9999px;
}

body {
    background-color: #050505;
    color: #e5e2e1;
}
.glow-primary {
    box-shadow: 0 0 20px rgba(255, 107, 0, 0.15);
}
.hex-clip {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.light-pipe {
    background: #ff6b00;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.text-glow {
    text-shadow: 
        0 0 10px rgba(255, 107, 0, 0.8),
        0 0 20px rgba(255, 107, 0, 0.5),
        0 0 40px rgba(255, 107, 0, 0.2);
}
.text-glow-primary {
    text-shadow: 
        0 0 10px rgba(229, 226, 225, 0.8),
        0 0 25px rgba(229, 226, 225, 0.4);
}@keyframes scan {
    0% { transform: translateY(0); opacity: 0; }
    50% { opacity: 0.5; }
    100% { transform: translateY(200px); opacity: 0; }
}
