# --- PostgreSQL Database ---
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=strapi_db
DATABASE_USERNAME=strapi_user
DATABASE_PASSWORD=strapi_super_secret_password

# --- Strapi Backend ---
HOST=0.0.0.0
PORT=1337
NODE_ENV=production

# IMPORTANT: Générer de nouvelles clés avec `openssl rand -base64 32` !!
APP_KEYS=clé1_à_changer,clé2_à_changer,clé3_à_changer,clé4_à_changer
API_TOKEN_SALT=sel_token_à_changer
ADMIN_JWT_SECRET=super_secret_admin_jwt
TRANSFER_TOKEN_SALT=transfer_salt_à_changer
JWT_SECRET=super_secret_jwt

# -- Optionnel Cloudinary (Fortement recommandé pour Docker) --
# CLOUDINARY_NAME=
# CLOUDINARY_KEY=
# CLOUDINARY_SECRET=


# --- Next.js Frontend ---
# L'URL publique de votre backend (ex: https://api.votre-site.com)
# Pour les tests en local avec NPM, vous pouvez laisser http://localhost:1337
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
